* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: left;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 160px 325px;
}
.header {
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
button {
  text-transform: uppercase;
}

header {
  display: flex;
}

.header__item-left {
  padding: 16px;
  flex: 1;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(50, 50, 50, 1);
  text-align: right;
}
.header__item-right {
  padding: 16px;
  background-color: rgba(255, 60, 0, 1);
  max-width: 220px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.intro {
  background-image: url('./shared/img/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}
.intro h1 {
  font-size: 4.9em;

  font-weight: 900;
}
.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
}
.intro__desc {
  display: flex;
  align-items: center;
  gap: 60px;
}
.intro__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
}
.intro__btn {
  background-color: rgba(50, 50, 50, 1);
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1.3em;
  padding: 22px 36px;
  max-width: 220px;
  width: 100%;
  margin-top: 10px;
}
.intro__logo {
}

.cookie {
  position: fixed;
  background-color: white;
  width: 100%;

  bottom: 0;
}
.cookie__desc {
}
.cookie__controllers {
}
.cookie__reject {
}
.cookie__accept {
}
.hidden {
  display: none;
}
.speakers {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 16px;
  gap: 16px;
  flex-wrap: wrap;
}
.speakers__column {
  display: flex;
  flex-direction: column;
}
.speakers__column:nth-child(2) {
  padding-top: 60px;
}
.speakers__column:nth-child(3) {
  padding-top: 120px;
}
.speakers__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickets_wrapper {
  background-color: rgba(251, 219, 60, 1);
}
.ticket_card {
  width: 100%;
  max-width: 1250px;

  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ticket {
  display: flex;
  width: 100%;
}
.ticket_body-left {
  padding: 30px;
  display: flex;
  background-color: #fff;
  align-items: center;
  gap: 60px;
  flex: 1;
}
.ticket_body-left > h3 {
  font-weight: 700px;
  font-size: 3.5em;
}
.ticket_devider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(234, 234, 234, 1);
}
.line {
  width: 2px;
  background-color: rgba(234, 234, 234, 1);
  flex: 1;
}
.circle_bottom {
}

.ticket_desc > h5 {
  font-size: 1.5em;
  color: rgba(33, 37, 41, 0.281);
  font-weight: 500;
  text-transform: none;
}
.ticket_desc > h5 > span {
  font-weight: 700;
  color: rgba(33, 37, 41, 0.556);
}
.ticket_desc > p {
  color: rgba(143, 115, 240, 1);
  font-size: 1.1em;
  margin-top: 23px;
}
.ticket_body-right {
  max-width: 300px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticket_body-right > h3 {
  font-size: 3em;
  color: rgba(255, 255, 255, 1);
}

.faqs {
}
.faqs_list {
}
.accordion {
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 1270px;
  width: 100%;
  transition: all 0.2ms ease;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid black;
}
.accordion_top {
  display: flex;
  justify-content: space-between;
}
.accordion_top img {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.accordion_bottom {
  padding-top: 0px;
  overflow: hidden;
  transition: all 0.2s ease;
  max-height: 0;
}
.accordion_active img {
  transform: rotate(0deg);
}
.accordion_active .accordion_bottom {
  padding-top: 23px;
  max-height: 600px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  html {
    font-size: 12px;
  }
  .intro {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
  .intro__logo {
    position: absolute;
    top: 50px;
    left: 50% - 168px;
  }
  .intro__logo img {
    max-width: 168px;
  }
  .intro__desc {
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  .intro {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 390px) {
  .intro {
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    display: none;
  }
}
